<div class="col-md-6 offset-md-3 mt-5">
   
    <div class="card">
        <h4 class="card-header">Language Selection</h4>
        <div class="card-body">
            <table>
                <tr>
                    <td>
                        <button class="btn btn-primary" (click)="english()">English</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-primary" (click)="hindi()">
                            हिंदी</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-primary" (click)="tamil()">தமிழ்</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-primary"  (click)="bangla()">
                            বাংলা</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div> 
