<div class="col-md-6 offset-md-3 mt-5">
    <!-- <tr *ngFor="let item of questionList"> -->
      <div class="card" *ngIf="questions != null">
        <!-- <h4 class="card-header">Time Left: <countdown-timer style="color:black;padding:10px;font-family:Roboto;" [end]="myDate"></countdown-timer></h4> -->
      </div>
      <div class="card" *ngFor="let item of nos" style="margin:3px;">
          <h4 class="card-header"> {{item}}</h4>
         
            <div >  
              <form (ngSubmit)="onSubmit(items.pqCode)" *ngFor="let items of questions" >
              <div *ngIf="item == items.pqNos">
              <div class="form-group" >
                <label >{{items.pqQuestion}}</label>
              </div>
              <div class="form-group">
                <label>
                  <button class="btn btn-warning"><span class="badge">{{items.pqType}}</span></button>
                </label>
              </div>
              <div class="form-group">
                <label>Max Marks: {{items.pqMarks}}</label>
              </div>
              <div class="form-group">
                <label>Enter Marks:</label>
                <input type="number" id="username" name="username" value=""  name="username"  [(ngModel)]="markGiven" #username="ngModel"/>
              </div>
            </div >
            <button class="btn btn-secondary"  *ngIf="item == items.pqNos" >
              Submit
          </button>
        </form>
          </div>

         
      </div>
  </div> 
